.preloader {
  position: fixed;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  background: rgba(6, 10, 178, 1);
  z-index: 10000;
}

.preloader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 104px;
  height: 104px;
  margin: 8px;
  border: 8px solid #ffff00;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffff00 transparent transparent transparent;
}

.preloader div:nth-child(1) {
  animation-delay: -0.45s;
}

.preloader div:nth-child(2) {
  animation-delay: -0.3s;
}

.preloader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
